<div class="card card2 card-default mt-5">
    <div class="card card2 card-heading pt-2">
      <h3 class=" card2 card-title ml-5 ">Repositories</h3>
    </div>
    <div class="card2 card-body">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let repo of repos">
            <div class="row">
              <div class="col-md-9">
                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-md-3">
                <span class="badge badge-default">{{repo.watchers}} Watchers</span>
                <span class="badge badge-primary">{{repo.forks}} Forks</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
